<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta charset="UTF-8">
<title><%= title %></title>
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.<%= global.config.mode %>css" rel="stylesheet">
<link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Buttons/2.0.0/css/buttons.<%= global.config.mode %>css" rel="stylesheet">
<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.<%= global.config.mode %>css" rel="stylesheet">


<link href="<%= global.config.publicPath %>/dolphin/css/dolphin.<%= global.config.mode %>css" rel="stylesheet">
<link href="<%= global.config.publicPath %>/page/css/common.css" rel="stylesheet">


